<mat-card (click)="onSelect()">
  <mat-card-header>
    <div mat-card-avatar [style.background-image]="imageURL"></div>
    <mat-card-title>{{data.resource.name}}</mat-card-title>
    <mat-card-subtitle *ngIf="corporation"><a routerLink="/corporation/">{{corporation.name}}</a></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>Security Status: {{data.resource.securityStatus}}</mat-list-item>
      <mat-list-item>Birthday: {{data.resource.birthday | amDateFormat:'LL'}} ({{data.resource.birthday | amTimeAgo}})</mat-list-item>
      <mat-divider *ngIf="characterSkills"></mat-divider>
      <mat-list-item *ngIf="characterSkills">Skill Points: {{characterSkills.totalSp}}</mat-list-item>
      <mat-list-item *ngIf="characterSkills">Unallocated SP: {{characterSkills.unallocatedSp}}</mat-list-item>
      <mat-divider *ngIf="data.resource.description"></mat-divider>
      <mat-list-item *ngIf="data.resource.description">Description: {{data.resource.description}}</mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="onEdit()">REFRESH</button>
  </mat-card-actions>
</mat-card>
